@font-face {
    font-family: 'concourse_t4regular';
    src: url('fonts/concourse_t4_regular.woff2') format('woff2'),
         url('fonts/concourse_t4_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t3regular';
    src: url('fonts/concourse_t3_regular.woff2') format('woff2'),
         url('fonts/concourse_t3_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_c6regular';
    src: url('fonts/concourse_c6_regular.woff2') format('woff2'),
         url('fonts/concourse_c6_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'concourse_t3italic';
    src: url('fonts/concourse_t3_italic.woff2') format('woff2'),
         url('fonts/concourse_t3_italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}