{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif"
  itemscope
  itemtype="http://schema.org/Article"
>
  {{ partial "bar.html" . }}
  <div class="w-90 w-60-ns center center-ns mb2 mb5-ns">
    <span class="b">/ </span>
    <a href="{{ .Site.BaseURL  }}" class="b bb bw1 pb1 no-underline black">{{ .Site.Title }}</a>
    <span class="b"> / </span>
    <a href="/blog" class="b bb bw1 pb1 no-underline black">blog</a>

    <section id="main" class="mt5">
      <h1 itemprop="name" id="title">{{ .Title }}</h1>
      <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>

        <article itemprop="articleBody" id="content" class="w-90 lh-copy">
          {{ .Content }}
        </article>

        <!-- last modified note -->
        <span class="f6 gray mv3" title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
          {{ if ne .Lastmod .PublishDate }}
            <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
          {{ end }}
        </span>

        {{ partial "newsletter.html" . }}
        {{ partial "series.html" . }}
        {{ partial "comments.html" . }}
        {{ partial "footer.html" . }}
  </div>  
</body>
