<%= partial 'layouts/includes/header' %>
  <div class="lh-copy">
    <div>
      <h1 class="f1"><%= current_page.data.title %></h1>
      <%= yield %>
    </div>
  </div>
<%= partial 'layouts/includes/footer' %>