<section id="subscribe newsletter" class="fl w-100 bg-near-white pa3">
  <article class="cf mw8 center br2 bg-bar">
    <div class="dt-ns dt--fixed-ns w-100">
      <div class="pv3 pv4-ns pr4-ns dtc-ns v-mid">
        <div>
          <h2 class="f3 fw4 mt0 mb3">Looking for more?</h2>
          <p class="measure lh-copy mv0 f5">
            Subscribe and I'll send you my articles first.
          </p>
        </div>
      </div>
      <div class="cf pv3 pv4-ns pl4-ns dtc-ns v-mid">
        <form action="https://buttondown.email/api/emails/embed-subscribe/thomas.codes"
          method="post"
          target="popupwindow"
          onsubmit="window.open('https://buttondown.email/thomas.codes', 'popupwindow')">
          <label class="fl w-100 mb3 f5">Email Address</label>

          <div class="fl w-100 mt1">
            <input type="email" class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 br2" placeholder="newsletter@thomas.codes" type="text" name="email" value="" id="email-address" required>
          </div>

          <input type="hidden" value="1" name="embed"/>

          <div class="fl w-100 mt3">
            <input class="no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer bn" type="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div>
  </article>
</section>
