@import "tachyons";
@import "fonts";
@import "code";

body {
  font-size: 16px;
  line-height: 30px;
}

// /* Fonts */

$system-fonts: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif; 

.sans-serif {
  font-family: 'Inter', $system-fonts;
  font-weight: 400;
}

i, em {
  font-weight: 400;
}

// a, .link {
//   text-decoration: none;
//   border-bottom: 2px solid #132E51;
// }

// nav a, nav .link {
//   border: none;
// }

// a:focus, a:hover, .link:hover, .hover-black:hover {
//   border-color: #777;
// }

// p a, .link {
//   opacity: 1; }

// p a, .link, a:focus, .link:focus, a:hover, .link:hover {
//   -webkit-transition: opacity .15s ease-in;
//   transition: opacity .15s ease-in; }

// p a:focus, .link:focus, p a:hover, .link:hover {
//   opacity: .5; }

// p a:active, .link:active {
//   opacity: .8;
//   -webkit-transition: opacity .15s ease-out;
//   transition: opacity .15s ease-out; }

// // .b, .bold, strong, b {
// //   font-family: 'concourse_t3bold', $system-fonts;
// //   font-weight: bold;
// //   font-style: normal;
// // }

// // .b > i, .bold > i, b > i {
// //   font-family: 'concourse_t3bolditalic', $system-fonts;
// //   font-weight: bold;
// //   font-style: italic;
// // }

// // .i, .italic, i {
// //   font-family: 'concourse_t3italic', $system-fonts;
// //   font-weight: normal;
// //   font-style: italic;
// // }

// // nav, .upcase, nav a:hover {
// //   font-family: 'concourse_c6regular', $system-fonts;
// //   font-weight: normal;
// // }



// // h1, h2, h3, h4, h5, h6, .f1, .f2, .f3, .f4, .f5 {
// //   font-family: 'concourse_t3regular', $system-fonts;
// //   font-weight: normal;
// // }


/* https://gist.github.com/jaicab/8799764 */
.vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
