<section id="subscribe newsletter">
  <article class="cf mw8 center br2 bg-bar">
    <div class="dt-ns dt--fixed-ns w-100">
      <div class="pa3 pa4-ns dtc-ns v-mid">
        <div>
          <h2 class="fw4 blue mt0 mb3"><%= headline %></h2>
          <p class="black-70 measure lh-copy mv0">
            <%= body %>
          </p>
        </div>
      </div>
      <div class="cf pa3 pa4-ns dtc-ns v-mid">
        <form action="https://codes.us12.list-manage.com/subscribe/post?u=cbb153101609dd678b27b0cb3&amp;id=e5a260d074" method="post">
          <label class="mb1">Email Address</label>

          <div class="fl w-100 mt1">
            <input type="email" class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 br2" placeholder="newsletter@thomas.codes" type="text" name="EMAIL" value="" id="email-address" required>
          </div>

          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cbb153101609dd678b27b0cb3_e5a260d074" tabindex="-1" value=""></div>

          <div class="fl w-100 mt3">
            <input class="no-underline f5 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2 pointer bn" type="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div>
  </article>
</section>
