        <div class="dn db-ns fl w-100 sans-serif f6 gray i mv4">
          <p>&copy; Thomas McGoey-Smith (2014 - 2018). <%= link_to 'RSS', '/rss.xml' %>.</p>
        </div>
      </div>
      <footer>
        <div class="dn-ns db">
          <%= partial 'layouts/includes/footer_nav' %>
        </div>
      </footer>
    </div>
  </body>
</html>
