<!doctype html>
<html>
  <head>
    <%= partial 'layouts/includes/meta' %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="sans-serif">
    <div class="bar w-100 h1 mb2"></div>
    <div class="cf center w-100 w-80-l w-70-l pl5-l">
      <header class="fl dn db-m db-l w-20-ns">
        <%= partial 'layouts/includes/nav' %>
      </header>
      <div class="fl w-100 w-80-ns w-70-l pa3 pl5-m pl4-l">

        <div class="fl w-100 mb4">
          <p class="lh-copy">
            <b>👋 <%= link_to "Hi, I'm Thomas", "/", class: "black link" %>.</b> During the day, I ship code to help <a href="https://shopify.com" class="link">make commerce better for everyone</a> and at night, I'm seen running a <a href="https://www.instagram.com/tamcgoey" class="link">bakery out of my apartment</a>.
          </p>
        </div>
