---
title: "👋 Hi, I'm Thomas."
layout: page
---

<p>I'm currently living and working in <a href="https://medium.com/@ryanpaulgibson/ottawas-not-boring-you-re-just-lazy-f5f2dd9396fb" class="link no-underline dim">Ottawa, Canada</a> as a <a href="https://github.com/tamcgoey" class="link no-underline dim">software writer</a>.</p>

<p>During the day, I ship code to help <a href="https://shopify.com" class="link no-underline dim">make commerce better for everyone</a> and at night, I'm seen running a <a href="https://www.instagram.com/tamcgoey" class="link no-underline dim">bakery out of my apartment</a>.</p>

<p>If you ever want to get in touch, hit me up at <a href="hey@thomas.codes" class="link no-underline dim">hey@thomas.codes</a> <em>(or <a href="https://twitter.com/tamcgoey" class="link no-underline dim">tweet</a> at me)</em>.</p>